src/Service References/sms.didimo.es/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sms.didimo.es/wcf/GetMessageStatusResult" elementFormDefault="qualified" targetNamespace="https://sms.didimo.es/wcf/GetMessageStatusResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sms.didimo.es/wcf/Service.svc/soap?xsd=xsd4" namespace="https://sms.didimo.es/wcf/BaseResult" />
  <xs:complexType name="GetMessageStatusResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="https://sms.didimo.es/wcf/BaseResult" base="q1:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMessageStatusResult" nillable="true" type="tns:GetMessageStatusResult" />
</xs:schema>