src/Service References/sms.didimo.es/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sms.didimo.es/wcf/CreateMessageRequest" elementFormDefault="qualified" targetNamespace="https://sms.didimo.es/wcf/CreateMessageRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateMessageRequest">
    <xs:sequence>
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element name="Text" nillable="true" type="xs:string" />
      <xs:element name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUnicode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMessageRequest" nillable="true" type="tns:CreateMessageRequest" />
</xs:schema>