src/Service References/sms.didimo.es/soap10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sms.didimo.es/wcf/GetCertifyFileRequest" elementFormDefault="qualified" targetNamespace="https://sms.didimo.es/wcf/GetCertifyFileRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetCertifyFileRequest">
    <xs:sequence>
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCertifyFileRequest" nillable="true" type="tns:GetCertifyFileRequest" />
</xs:schema>