src/Service References/sms.didimo.es/soap4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sms.didimo.es/wcf/BaseResult" elementFormDefault="qualified" targetNamespace="https://sms.didimo.es/wcf/BaseResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResult" nillable="true" type="tns:BaseResult" />
</xs:schema>