src/Service References/sms.didimo.es/soap12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sms.didimo.es/wcf/CreateSendRequest" elementFormDefault="qualified" targetNamespace="https://sms.didimo.es/wcf/CreateSendRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sms.didimo.es/wcf/Service.svc/soap?xsd=xsd8" namespace="https://sms.didimo.es/wcf/CreateSendRequest/MessageSend" />
  <xs:complexType name="CreateSendRequest">
    <xs:sequence>
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="https://sms.didimo.es/wcf/CreateSendRequest/MessageSend" name="Messages" nillable="true" type="q1:ArrayOfMessageSend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateSendRequest" nillable="true" type="tns:CreateSendRequest" />
</xs:schema>